.all{
    margin:20px;
    border:1px solid black;
    width:50%;

    
}
.all p{
    margin-left:10px;
}
.scrolll{
     border:1px solid black;
   margin-left:10%;
   width:25%;
   height: 250px;
   overflow-y: scroll;
    
}

.form{
    width:500px;
}
.form input{
    width:200px;
    margin-left:10%;
}
label{
    margin-left:20px;
}

.form h2{
    margin-left: 20px;
}
.form i{
  margin:0;
}

.sort{
    margin-left:67%;
    margin-top:10px;
    cursor: pointer;
}
.scrolll h3{
    margin:10px;
    margin-left:15px;
}